[Unit]
Description=${app_name} Service
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=${work_dir}
ExecStart=${work_dir}/${app_name}
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target